@model IEnumerable<buisnessCase_trends3.Models.Task>

@{
    ViewData["Title"] = "Index";
}

<h1>Tasks</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@* generate a card for each task  *@
@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@item.TaskName</h5>
            <h6 class="card-subtitle mb-2 text-muted">@item.TaskDescription</h6>
            <p class="card-text">@("Reward: " + @item.Points + " points")</p>
            <a asp-action="Delete" asp-route-id="@item.Id" class="card-link">Delete</a>
        </div>
    </div>
}