@{
    ViewData["Title"] = "Leaderboard";

}

@functions {
    Random random = new Random();

    string GetRandomColor()
    {
        int red = random.Next(0, 256);
        int green = random.Next(0, 256);
        int blue = random.Next(0, 256);

        return $"rgb({red},{green},{blue})";
    }
}


<h1 class="mb-4">Leaderboard</h1>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <thead class="thead-dark">
            <tr>
                <th style="text-align: center;">Rank</th>
                <th style="text-align: center;">User Id</th>
                <th style="text-align: center;">User</th>
                <th style="text-align: center;">User Points</th>
            </tr>
        </thead>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    
                    <td style="font-size: 35px; font-weight: bold; text-align:center; color: @(GetRandomColor())">@item.Rank</td>
                    <td style ="text-align: center;">@item.User.Id</td>
                    <td style="text-align: center;">@item.User.Username</td>
                    <td style="text-align: center;">@item.User.Points</td>
                </tr>
            }
        </tbody>
    </table>
</div>
